#!/bin/sh

export EDITOR=nvim
export XDG_PICTURES_DIR="/home/$(whoami)/Pictures"

alias pacman='sudo pacman'
alias gs='git status'
alias gd='git diff'
alias gc='git commit'

if uwsm check may-start && uwsm select; then
  exec uwsm start default
fi
